{% extends 'base.html' %}
{% block content %}
<h1>Change password</h1>
{% if validlink %}
    <p>Repeat new password twice</p>
    <form action="" method="post">
        {% csrf_token %}
            <table>
        <tr>
            <td>New password</td>
            <td>{{ form.new_password1 }}</td>
            <td>{{ form.new_password1.errors }}</td>
        </tr>
        <tr>
            <td>Confirm new password</td>
            <td>{{ form.new_password2 }}</td>
            <td>{{ form.new_password2.errors }}</td>
        </tr>
    </table>
        <input class="btn btn-outline-success" type="submit" value="Submit">
    </form>
{% else %}
    <p>Link has expired</p>
{% endif %}
{% endblock %}